 <app-header></app-header>
<br><br>
<main class="container">
  <router-outlet></router-outlet>
</main>
<app-welcome></app-welcome>
<hr class="featurette-divider mt-3">
<app-footer></app-footer> 
<!-- <div class="container">
  <div class="card border-dark">
      <div class="card-header border-dark">
          <app-nav></app-nav></div>
      <div class="card-body border-dark"></div>
      <router-outlet></router-outlet>
      <div class="card-footer border-dark">
          <app-footer></app-footer>
      </div>
  </div>
  </div>  -->
  <!-- <div class="container">
    <div class="card border-primary"><app-header></app-header>
        <div class="card-header border-primary"></div>
       
        <div class="card-body border-primary">
           <router-outlet></router-outlet>
        </div>
        <div class="card-footer border-primary"></div><app-footer></app-footer>
    </div>
    </div> -->