<!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2024 MyWebsite. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="footer-nav">
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->
  <!-- Footer -->
<!-- <footer class="text-center text-lg-start bg-light text-muted">
  
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
   
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
  
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook" aria-hidden="true"></i>

      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  
  </section>
 
  <section class="">
    <div class="container text-center text-md-start mt-5">
     
      <div class="row mt-3">
      
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>my electricity
          </h6>
          <p>
            Consumer service application for Electricity service.
Electricity service provider offers an application for their consumers to handle below customer friendly features.

          </p>
        </div>
        

        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
         
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Account</a>
          </p>
          <p>
            <a href="#!" class="text-reset">bills</a>
          </p>
          <p>
            <a href="#!" class="text-reset">quickpay</a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
        </div> -->
        <!-- Grid column -->

<!--        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
         
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">help?</a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
        </div> -->
        
        <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
         
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home" aria-hidden="true"></i>Tamil nadu,India</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            
          </p>
          <p><i class="fas fa-phone me-3"></i> phone:+9876543210</p>
          <p><i class="fas fa-print me-3"></i> phone:+8765432101</p>
        </div> -->
        
      <!-- </div>
     
    </div>
  </section>
 
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="">Myelectricity.com</a>
  </div>
 
</footer> -->
<footer class="text-center text-lg-start bg-light text-muted">
  
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
   
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
  
    <div>
      <a href="#" class="me-4 text-reset">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fa fa-google" aria-hidden="true"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="#" class="me-4 text-reset">
       
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  
  </section>
 
  <section class="">
    <div class="container text-center text-md-start mt-5">
     
      <div class="row mt-3">
      
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>my electricity
          </h6>
          <p>
            Consumer service application for Electricity service.
            Electricity service provider offers an application for their consumers to handle below customer friendly features.
          </p>
        </div>
        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
         
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Account</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bills</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Quickpay</a>
          </p>
        </div>
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home me-3" aria-hidden="true"></i>Tamil Nadu, India</p>
          
          <p><i class="fa fa-phone-square" aria-hidden="true"></i> Phone: +9876543210</p>
          <p><i class="fa fa-fax" aria-hidden="true"></i> Fax: +8765432101</p>
        </div>
        
      </div>
      
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Myelectricity.com
  </div>
</footer>


  