<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>

       
</head>
<body>

<nav>
    <ul>
        <li><a href="maindash">Home</a></li>
        <li><a href="acc">Account </a></li>
        <!-- <li><a href="">Bills</a></li> -->
        <li><a href="/quickpay">quickpay</a></li>
        <li><a href="/dashboard">Users</a></li>
        <li><a href=""></a></li>
    </ul>
</nav>



</body>
</html>
